:root{
    --clr-background: #e5e5e5;
    /*--clr-fonts: #ebebeb;*/
    --clr-fonts: black;
    --clr-cardbody: white;
    --clr-tituloback: white;
    --clr-textarea: white;
    --clr-label: white;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
        /*background-image: url(/img/pexels-lorenzo-242236.jpg);*/
        background-color:var(--clr-background);
}

.navbar-brand{
    font-weight: bold;
    color: white;   
}

label{
    color:var(--clr-label);
}

.row{
    padding-top: 50px;
}

#descripcion-tarea{
    margin-top: 20px;
    color:var(--clr-fonts);
}

.d-grid{
    padding-top: 20px;
}

.card{
    margin: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}

.card-body{
    background-color:var(--clr-cardbody);
    color:var(--clr-fonts);
}

#titulo{
    font-style: italic;
    color:var(--clr-fonts);
    background-color:var(--clr-tituloback)

}

#descripcion-tarea{
    background-color:var(--clr-textarea);
}

footer {
    background-color: black;
    display: table-row;
    height: 0;
    text-align: center;
}

#datepicker {
    font-style: italic;
    margin-top: 20px;
    color:var(--clr-fonts);
    background-color:var(--clr-tituloback);
}

#formContainer, #tareas, .display-none{
    display: none;
}

.dark-mode{
    background-image: url(/img/pexels-mathias-pr-reding-4394232.jpg);
    /*background-color: black;*/
    --clr-fonts:white;
    --clr-cardbody: black;
    --clr-tituloback:black;
    --clr-textarea: #474747;
}