:root {
    --clr-background: #e5e5e5;
    --clr-primary: #006ea6;
    --clr-fonts: black;
    --clr-cardbody: white;
    --clr-tituloback: white;
    --clr-textarea: white;
    --clr-label: white;
    --clr-background-footer:black;
    --clr-boxshadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
    --clr-btn-agregar:#0033ff;
    --clr-reloj:#006ea6;
    --clr-borde-reloj:#006ea6;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    background-color:var(--clr-background);
}

.navbar-brand{
    font-weight: bold;
    color: white;   
}

label{
    color:var(--clr-label);
}

.row{
    padding-top: 50px;
}

#descripcion-tarea{
    margin-top: 20px;
    color:var(--clr-fonts);
}

.d-grid{
    padding-top: 20px;
}

.card{
    margin: 10px;
    box-shadow: var(--clr-boxshadow);
    margin-bottom: 50px;
}

.card-body{
    background-color:var(--clr-cardbody);
    color:var(--clr-fonts);
}

#titulo{
    font-style: italic;
    color:var(--clr-fonts);
    background-color:var(--clr-tituloback)

}

#descripcion-tarea{
    background-color:var(--clr-textarea);
}

#btn-agregar{
    background-color: var(--clr-btn-agregar)
}

footer {
    background-color:var(--clr-background-footer);
    color:var(--clr-tituloback);
    display: table-row;
    width: 100%;
    text-align: center;
}

#datepicker {
    font-style: italic;
    margin-top: 20px;
    color:var(--clr-fonts);
    background-color:var(--clr-tituloback);
}

#formContainer, #tareas, .display-none{
    display: none;
}

.dark-mode{
    --clr-background: #1a1a1a;
    --clr-fonts:white;
    --clr-cardbody: black;
    --clr-tituloback:black;
    --clr-textarea: #474747;
    --clr-boxshadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.452);
    --clr-background-footer:#303030;
    --clr-btn-agregar:#131d45;
    --clr-reloj:white;
    --clr-borde-reloj:#e5e5e5;
}

.wrapper-color-switch{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1em;
}

.color-switch{
    width: 4em;
    height: 2em;
    border-radius: 10em;
    background: var(--clr-fonts);
    border: 2px solid var(--clr-primary);
    position: absolute;
    cursor: pointer;
}

.color-switch-toggle{
    width: 1.6em;
    height: 1.6em;
    background: var(--clr-primary);
    position: absolute;
    border-radius: 10em;
    top: 0.1em;
    left: 0.2em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.color-switch::before{
    content: 'Light';
    position: absolute;
    display: inline-block;
    width: 12em;
    left:-3em;
    top: 0.15em;
}

#btn-darkmode:checked ~ label .color-switch-toggle {
    transform: translateX(1.8em);
}

#btn-darkmode:checked ~ .color-switch::before {
    content:'Dark';
}

#btn-darkmode{
    display: none;
}

/*Pomodoro*/
#container-reloj{
    border-radius :20px;
    width:100%;
    margin:20px auto;
    padding:20px;
    text-align:center;
}

#timer{ 
    color:var(--clr-reloj); 
    font-size:50px; 
    margin:10px auto;
    border : 5px solid var(--clr-borde-reloj);
    border-radius:50%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

#time{
    margin-top:60px;
    z-index : 1;
    position:relative;
}

#filler{
    height: 0px;
    width: 200px;
    position:absolute;
    bottom:0;
}

#buttons button { 
    background:var(--clr-btn-agregar); 
    border:none; 
    color:#fff; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
}

#buttons button#shortBreak{
    background : #067800;
}

#buttons button#longBreak{
    background : #044a00;
    width:100px;
} 
#buttons button#stop{
    background : #8f0000;
}

.texto-pomodoro{
    font-style: italic;
    color: var(--clr-fonts);
    text-align: center;
}

.texto-pomodoro p{
    font-weight: 700;
    font-style: normal;
}